* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

button {
  background-color: blue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  position: absolute;
  border-radius: 3px;
  color: white;
  width: 30px;
  height: 40px;
  /* Position relative to the container */
  top: 0;
  right: 0;
  z-index: 3;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(185deg, orange, blue);
}