body::before {
  content: '';
  display: block;
  height: 100px;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

img {
  position: fixed;
  z-index: 2;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  margin: 10px;
}

body {
  background: orange;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  margin: 0;
}

body .tabs {
  position: relative;
  top: 90%;
  left: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.container {
  position: relative;
  z-index: 2;
}

.button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

button {
  background-color: rgb(72, 72, 210);
  margin-right: 10px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

button:hover {
  opacity: 0.8;
  background-color: rgb(128, 20, 222);
}

.previous-lesson,
.new-topic {
  cursor: pointer;
  color: white;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.previous-lesson:hover,
.new-topic:hover {
  opacity: 0.8;
}

.signup {
  background-color: aqua;
  width: 300px;
  height: 300px;
}

.inputContainer {
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}