* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
    background-color: orange;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }
  
  img {
    width: 80px;
    height: 80px;
    margin: 0px;
  }
  
  
  .previous-lesson {
    width: 400px;
    height: 200px;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
  }
  
  .new-topic {
    width: 400px;
    height: 200px;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
  
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    align-self: flex-end;
  }
  
  button {
    background-color: rgb(72, 72, 210);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    transition: background-color 0.5s ease;
    justify-content: flex-start;
  }
  
  .previous-lesson,
  .new-topic {
    margin: 10px;
    cursor: pointer;
  }